:root {
  --primary: #00695c;
  --secondary: #ffd600;
  --background: #fafafa;
  --text: #ff6a00;
  --color3: #ff7043;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: var(--background);
  color: #ffffff;
  /* min-height: 2000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3%;
  background-color: #ffd600cc;
  border-bottom: 0.1px solid #aeea00;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 0.25rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #ffffff;
  margin: 0 0.25rem;
}

.navbar .navbar-extra a:hover {
  color: var(--secondary);
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/web-developer-multitasking-1024x536.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 10%,
    rgba(229, 242, 254, 0) 50%
  );
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-height: 60rem;
}

.hero .content h1 {
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  max-width: 60rem;
}

.hero .content .cta {
  margin-top: 0.7rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  background-color: var(--secondary);
  border-radius: 0.3rem;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);
  transition: 0.3s ease all;
}

.hero .content .cta:hover {
  background-color: var(--primary);
}

.hero .content p {
  font-size: 1.3rem;
  font-weight: 300;
  padding-bottom: 0.3rem;
  color: #ffffff;
}

/* Penjelasan Section */
.penjelasan,
.karakter,
.digit,
.tantang,
.karya,
.karyaimg {
  padding: 5rem 7% 1.4rem;
}

.penjelasan h2,
.karakter h2,
.digit h2,
.tantang h2,
.karya h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #00695c;
}

.penjelasan .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.penjelasan .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.6;
  color: #424242;
  max-width: 60rem;
  text-align: center;
  margin: auto;
}

.penjelasan .row .content .p2 {
  padding-top: 1rem;
}

/* Karakteristik Section */
.karakter .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  display: flex;
  flex: auto;
}

.karakter .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #424242;
  max-width: 60rem;
  text-align: center;
  margin: auto;
}

/* Digitalisasi Section */
.digit .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.digit .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #424242;
  max-width: 60rem;
  text-align: center;
  margin: auto;
}

.digit .row .content .p1 {
  padding-bottom: 1rem;
}

.digit .row .content .p2 {
  padding-top: 0.5rem;
}

/* Tantangan Section */
.tantang .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  display: flex;
  flex: auto;
}

.tantang .row p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #424242;
  max-width: 60rem;
  text-align: center;
  margin: auto;
  padding-bottom: 1rem;
}

.tantang .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #424242;
  max-width: 60rem;
  text-align: center;
  margin: auto;
}

/* Karya Section */
.karya .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.karya .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #424242;
  max-width: 60rem;
  text-align: center;
  margin: auto;
}

.karya .row .content .cta {
  margin-top: 0.7rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  background-color: var(--secondary);
  border-radius: 0.3rem;
  box-shadow: 1px 1px 5px rgba(1, 1, 3, 0.5);
  transition: 0.3s ease all;
  margin-left: 30rem;
}

.karya .row .content .cta:hover {
  background-color: var(--primary);
}

.karyaimg img {
  width: 60%;
  flex: 1 1 45rem;
}

.karya2 .karyaimg .content {
  padding-left: 2rem;
}

.karya2 .karyaimg {
  display: flex;
  position: relative;
}

.karya2 .karyaimg h2 {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #424242;
  max-width: 60rem;
  text-align: center;
  margin: auto;
}

.karya2 .karyaimg p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #424242;
  max-width: 60rem;
  text-align: center;
  margin: auto;
}

/* Footer */
footer {
  background-color: var(--secondary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

footer .sosial {
  padding: 1rem 0;
}

footer .sosial a {
  color: #ffffff;
  margin: 1rem;
  transition: 0.2s ease all;
}

footer .sosial a:hover {
  color: var(--text);
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a:hover {
  color: var(--text);
}

footer .links a {
  color: #ffffff;
  padding: 0.7rem 1rem;
  transition: 0.2s ease all;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #ffffff;
  transition: 0.2s ease all;
}

footer .credit a:hover {
  color: var(--text);
}

/* Media Queries */

/* Laptop */

@media (min-width: 1023px) {
  html {
    font-size: 90%;
  }
}

/* Tablet */

@media (max-width: 1024px) {
  html {
    font-size: 75%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffd600cc;
    width: 20rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #ffffff;
    display: block;
    margin: 1.5rem;
    font-size: 1.65rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .penjelasan .row {
    flex-wrap: wrap;
  }

  .penjelasan .row .afc-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .penjelasan .row .content {
    padding: 0;
  }

  .penjelasan .row .content p {
    font-size: 1.5rem;
  }

  .karya .row .content .cta {
    margin-left: 24rem;
  }

  /* Mobile Phone */

  @media (max-width: 767px) {
    html {
      font-size: 60%;
    }

    .hero .content h1 {
      max-width: 40rem;
    }

    .penjelasan .row .content p {
      margin: auto;
    }

    .penjelasan .row .content p {
      font-size: 2rem;
    }

    .karya .row .content .cta {
      margin-left: 13rem;
    }
  }
}
